* {
	background-color: black;
	color: white;
}

body {
	display: flex;
	margin: auto;
	flex-direction: column;
	align-items: center;
}

header {
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

h1 {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: normal;
	font-size: 50px;
}

#toplink > p {
	color: aquamarine;
	font-size: 1rem;
}

#video-container {
	display: flex;
	flex-direction: column;
	margin: auto;
	width: 40rem;
}

#main {
	display: flex;
	flex-direction: column;
	margin: auto;
}

#bottom {
	margin-top: 1.7rem;
	display: flex;
	height: 18rem;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

h2 {
	margin: auto;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 42px;
	font-weight: 300;
}

h3 {
	margin: auto;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 21px;
	color: gray;
}

#main > img {
	margin: auto;
	width: 40rem;
}

video {
	margin: auto;
}
